* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --mainorange: #ffa500;
  --lightOrange: #ffa600a4;
  --mainBlack: #19181800;
  --mainGrey: #c4bdbd;
  --white: #fff;
  --darkGrey: #7d7878;
  --greenMain: #08d608;
  --greenLight: #c9f5c9;
}

body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  width: 1px;
  height: 1px;
  background-color: var(--darkGrey);
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100px;
  border-bottom: 1px solid var(--mainGrey);
  margin-left: 80px;
  position: relative;
}
.product__number {
  width: 25px;
  height: 25px;
  background: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 12px;
  right: 60px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}
.nav .logo {
  font-weight: 100;
  font-size: 1.4em;
  opacity: 0.7;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.nav__links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.nav__links a {
  color: var(--darkGrey);
  opacity: 1;
  font-weight: 400;
}

.nav__links a:hover {
  color: var(--mainorange);
  opacity: 1;
}

.icon-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}

.icon-shop img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.icon-shop .fa-solid {
  font-size: 1.3em;
}
.icon-shop .fa-solid:hover {
  color: var(--mainGrey);
  opacity: 0.8;
}
.section--1 {
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.product {
  width: 600px;
  max-height: 590px;
  background-color: var(--white);
  position: absolute;
  gap: 1.5rem;
  top: 50%;
  right: 9.4%;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.67s ease;
  overflow-y: scroll;
}
.hidden {
  right: -150%;
}
.product .product__row {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgb(224, 220, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__row .product__img img {
  width: 120px;
  height: 100px;
  padding-left: 30px;
  transition: 0.9s ease;
}
.product__row .product__img img:hover {
  transform: scale(1.7);
}
.product__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 20px;
}
.product__details button {
  align-items: center;
  background-color: var(--mainorange);
  padding: 10px 30px;
  border-radius: 10px;
  color: black;
  opacity: 1;
  border: none;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
  transition: 0.8s ease;
}
.product__details button:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 19px 38px,
    rgba(0, 0, 0, 0.15) 0px 15px 12px;
}
.product__details h4 {
  background: var(--greenLight);
  color: var(--darkGrey);
  padding: 5px 5px;
  text-align: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.imgs__wrapper {
  display: flex;
  flex-direction: column;
  gap: rem;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  width: 40%;
  height: 100%;
}
.imgs__wrapper .big img {
  padding-top: 35px;
  width: 550px;
  height: 550px;
}

.imgs__wrapper .small {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: 2.5rem;
}

.imgs__wrapper .small img {
  width: 140px;
  height: 140px;
}
.img__active {
  border: 2.5px solid var(--mainorange);
  border-radius: 20px;
}
.content__wrapper {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.content__title {
  color: var(--greenMain);
  opacity: 0.6;
  font-weight: 500;
  font-size: 1.6em;
  font-family: cursive;
}
.limited {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: capitalize;
  opacity: 0.66;
}
.snickers {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: capitalize;
  opacity: 0.59;
}
.para {
  opacity: 0.5;
  font-weight: 300;
  font-weight: 500;
  width: 500px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 10px 10px;
}
.current__price {
  display: flex;
  gap: 2rem;
}
.current__price h1 {
  font-size: 1.9em;
  opacity: 0.61;
}

.price h4 {
  background: var(--greenLight);
  color: var(--darkGrey);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
}
.old__price {
  font-size: 1.3em;
  text-decoration: line-through;
  opacity: 0.44;
  color: var(--greenMain);
}

.add-cart {
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0px 25px;
  background-color: var(--greenLight);
  border-radius: 5px;
  cursor: pointer;
}
.quantity:hover {
  opacity: 0.8;
}
.quantity p {
  font-weight: 500;
  font-size: 1.2em;
  color: rgb(58, 57, 57);
}

.add__btn {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--mainorange);
  padding: 10px 70px;
  border-radius: 10px;
  color: black;
  opacity: 1;
}
.add__btn:hover {
  opacity: 0.8;
}
.add__btn i,
h3 {
  opacity: 0.6;
}
.back__home {
  background: var(--mainorange);
  padding: 10px 10px;
  text-align: center;
  border-radius: 50%;
  color: black;
  opacity: 0.77;
}
.clearProduct {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--greenMain);
  border-radius: 50%;
  position: absolute;
  right: 120px;
  top: 34px;
}

.clearProduct fa-solid fa-trash:hover {
  color: var(--greenMain);
}

.home__section--1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 100vh;
  position: relative;

  align-items: center;
  padding-top: 70px;
}
.home__hero__main {
  width: 100%;
  display: flex;
  min-height: 600px;

  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.822);
}
.home__section--1 .home__hero {
  width: 500px;
  height: 500px;
  border-radius: 30%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-left: 65px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  color: #fff;
  gap: 4rem;
}
.hero__content h1 {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  font-size: 4.3em;
  letter-spacing: 9px;
  font-family: "Merienda", cursive;
  opacity: 0.66;
  background-color: var(--greenLight);
  border-radius: 4px;
  padding: 0px 25px;
}
.hero__content p {
  width: 30%;
  height: 15%;
  opacity: 0.7;
}

.types {
  display: flex;
  gap: 1rem;
}
.types h3 {
  opacity: 0.77;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.8s ease;
}
.types h3:hover {
  opacity: 1;
  transform: scale(1.1);
}
.n {
  background-color: rgba(128, 0, 128, 0.534);

  padding: 0px 25px;
  color: white;
  opacity: 0.77;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.s {
  background-color: var(--mainorange);

  padding: 0px 25px;
  color: black;
  opacity: 0.77;
}
.a {
  background: var(--white);
  color: rgba(0, 0, 0, 0.637);
}
.j {
  background: var(--greenLight);
  color: black;
  padding: 0px 60px;
}
.card__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  gap: 3rem;
  position: relative;
}
.sale__title {
  font-size: 3.4em;
  background-color: var(--mainorange);
  padding: 10px 25px;
  color: rgba(0, 0, 0, 0.842);
  opacity: 0.68;
  font-family: "Merienda", cursive;
  border-radius: 5px;
}
.cards {
  width: 60%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.card {
  width: 200px;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card .card__content p {
  font-size: 0.65em;
  font-weight: 600;
  opacity: 0.4;
  text-align: center;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  height: 170px;
}
.fa-solid,
.fa-regular {
  font-size: 1.6em;
  cursor: pointer;
}
.heart__active {
  color: rgba(255, 15, 15, 0.76);
}

.card__icons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.test {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 99;
}
